#root {
    -fx-background-color: #f0f0f0;
    -fx-pref-width: 780px;
    -fx-pref-height: 500px;
}

Hyperlink {
    -fx-text-fill: #333;
    -fx-focus-color: transparent;
    -fx-underline: true;
}

#header,
#footer {
    -fx-padding: 15px 12px;
    -fx-background-color: #369;
}

#header {
    /* TODO currently unused */
    /*-fx-spacing: 10px;*/
}

#left-content {
    -fx-background-color: #fff;
}

#right-content {
}
