@banner = {
    <header class="banner text-white text-center">
        <div class="container">
            <div class="mx-auto mb-4">
                <h1>Control Tool</h1>
                <h2>
                    control your computer remotely by another or by smartphone
                    without the overhead of screen transmission
                </h2>
            </div>
        </div>
    </header>
}

@download = {
    <a name="download" id="download"></a>
    <section class="container my-5">
        <h2 class="mb-5">
            <span class="fas fa-download"></span>
            Download
        </h2>
        <div class="row text-center">
            <a href="TODO" class="col-lg-4 mx-auto mb-3 d-block download-item">
                <div class="download-icon d-flex"><span class="fas fa-desktop m-auto"></span></div>
                <p class="mt-2 mb-0">PC<br>(Java required)</p>
            </a>
            <a href="TODO" class="col-lg-4 mx-auto mb-3 d-block download-item">
                <div class="download-icon d-flex"><span class="fab fa-google-play m-auto"></span></div>
                <p class="mt-2 mb-0">Play Store</p>
            </a>
            <a href="#" class="col-lg-4 mx-auto mb-3 d-block download-item">
                <div class="download-icon d-flex"><span class="fab fa-app-store-ios m-auto"></span></div>
                <p class="mt-2 mb-0" style="color: #6c757d;">App Store<br>(not yet available)</p>
            </a>
        </div>
        <p class="text-center">
            Or browse the sources and releases on
            <a href="TODO"><span class="fab fa-github"></span> Github</a>
        </p>
    </section>
}

@about = {
    <a name="about" id="about"></a>
    <section class="container my-5">
        <h2>
            <span class="fas fa-question-circle"></span>
            About
        </h2>
        <p>
            About text:<br>
            What?<br>
            Use-cases
        </p>
    </section>
}

@security = {
    <a name="security" id="security"></a>
    <section class="container my-5">
        <h2>
            <span class="fas fa-lock"></span>
            Security
        </h2>
        <p>
            Security text
        </p>
    </section>
}

@additionalInformation = {
    <a name="additional-information" id="additional-information"></a>
    <section class="container my-5">
        <h2>
            <span class="fas fa-lock"></span>
            Additional information
        </h2>
        <p>
            Additional information text:<br>
            Why open source<br>
            github link<br>
            github artifact description - link<br>
            Automatic updates?
        </p>
    </section>
}

@layouts.main(null) {
    @banner
    @download
    <hr class="divider">
    @about
    <hr class="divider">
    @security
    <hr class="divider">
    @additionalInformation
}
