@(title: String)(content: Html)
<!DOCTYPE html>
<html>
    <head>
        <title>@title</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        @* Bootstrap *@
        <script type="text/javascript" src="@routes.Assets.at("lib/bootstrap/js/bootstrap.js")"></script>
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-grid.css")">
        <link rel="stylesheet" href="@routes.Assets.at("lib/bootstrap/css/bootstrap-reboot.css")">
        @* JQuery *@
        <script type="text/javascript" src="@routes.Assets.at("lib/jquery/jquery.js")"></script>
        @* Site stuff *@
        <link rel="stylesheet" href="@routes.Assets.at("stylesheets/main.css")">
        <link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">
    </head>
    <body>
        <section class="content">
        @content
        </section>
    </body>
</html>
