@import config.template.InputFieldConstructor
@import models.forms.ForgotPasswordForm
@(form: play.data.Form[ForgotPasswordForm])
@forgotPasswordContent = {
    <a name="register" id="register"></a>
    <section class="container my-5">
        <h2>
            <span class="fas fa-unlock"></span>
            Forgot your password?
        </h2>
        <p>
            For privacy reasons you will always receive a success message when submitting this form even if the email
            address is not associated with an existing account.
        </p>
        @helper.form(action = routes.UserController.doForgotPassword) {
            @helper.CSRF.formField

            <div class="form-group">
            @helper.inputText(form("email"),
                'class -> "form-control",
                'placeholder -> "Enter your email",
                '$label -> "Email address",
                '$help_class -> "form-text text-muted",
                '$error_class -> "text-danger"
            )(new InputFieldConstructor("email"), implicitJavaMessages)
            </div>

            <button type="submit" class="btn btn-lg btn-primary d-block ml-auto">Send recovery email</button>
        }
    </section>
}

@layouts.main("Account recovery") {
    @forgotPasswordContent
}
