@import config.template.{CheckboxFieldConstructor, InputFieldConstructor}
@(form: play.data.Form[User])
@tosLabel = {
    I have read and accept the
    <a href="@routes.PagesController.show("terms")" target="_blank">Terms of Use</a>.
}
@registerContent = {
    <a name="register" id="register"></a>
    <section class="container my-5">
        <h2>
            <span class="fas fa-user-plus"></span>
            Create an account
        </h2>
        <p>
            You need to create an account to find your devices when you can not or do not want to use direct connection.
        </p>
        @helper.form(action = routes.UserController.doRegister) {
            @helper.CSRF.formField

            <div class="form-group">
                @helper.inputText(form("username"),
                    'class -> "form-control",
                    'placeholder -> "Enter your username",
                    '$label -> "Username",
                    '$error_class -> "text-danger"
                )(new InputFieldConstructor, implicitJavaMessages)
            </div>

            <div class="form-group">
                @helper.inputText(form("email"),
                    'class -> "form-control",
                    'placeholder -> "Enter your email",
                    '$label -> "Email address",
                    '$help -> "Optional. By entering your email address you are able to recover your account when you forgot your password.",
                    '$help_class -> "form-text text-muted",
                    '$error_class -> "text-danger"
                )(new InputFieldConstructor("email"), implicitJavaMessages)
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <div class="form-row">
                    <div class="col-md mb-2 mb-md-0">
                        @helper.inputText(form("password"),
                            'class -> "form-control",
                            'placeholder -> "Enter your password",
                            '$error_class -> "text-danger"
                        )(new InputFieldConstructor, implicitJavaMessages)
                    </div>
                    <div class="col-md">
                        @helper.inputText(form("passwordRepeat"),
                            'class -> "form-control",
                            'placeholder -> "Repeat your password",
                            '$error_class -> "text-danger"
                        )(new InputFieldConstructor, implicitJavaMessages)
                    </div>
                </div>
            </div>

            <div class="form-check mb-3">
                @helper.inputText(form("tos"),
                    'class -> "form-check-input",
                    '$label -> tosLabel,
                    '$error_class -> "text-danger d-block"
                )(new CheckboxFieldConstructor, implicitJavaMessages)
            </div>

            <button type="submit" class="btn btn-lg btn-primary d-block ml-auto">Create account</button>
        }
    </section>
}

@layouts.main("Register") {
    @registerContent
}
